@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180, 2%, 17%;
    --foreground: 240 10% 3.9%;

    --dark: 0, 0%, 0%, 0.3;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 101, 100%, 88%, 1;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0%, 0%, 0.3;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#222222] text-foreground;
  }
}

.animate-rsvp {
  animation: rsvpAnimation 2s ease-in-out;
}

@keyframes rsvpAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
  
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  .dashboard-menu {
    @apply fixed top-0 left-0 right-0 z-10 flex lg:justify-around;
    @apply p-2;
    @apply -translate-x-full;
  }

  .dashboard-menu.open {
    @apply translate-x-0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import '~nprogress/nprogress.css';



/* Page loader Progress bar */
#nprogress .bar {
  height: 4px; 
}
