@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180, 2%, 17%;
    --foreground: 240 10% 3.9%;

    --dark: 0, 0%, 0%, 0.3;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 101, 100%, 88%, 1;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0%, 0%, 0.3;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#222222] text-foreground;
  }
}

.animate-rsvp {
  animation: rsvpAnimation 2s ease-in-out;
}

@keyframes rsvpAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  .dashboard-menu {
    @apply fixed top-0 left-0 right-0 z-10 flex lg:justify-around;
    @apply p-2;
    @apply -translate-x-full;
  }

  .dashboard-menu.open {
    @apply translate-x-0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "~nprogress/nprogress.css";

/* Page loader Progress bar */
#nprogress .bar {
  height: 4px;
}

.border_top {
  border-top: 1px solid #585858;
  padding-top: 20px;
}

.menu_cta {
  width: 200px;
  height: 40px;
  background: #3a3c3c;
  border: 2px solid #454747;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  gap: 10px;
  cursor: pointer;
}

.community_items {
  margin: 10px 0 0 20px;
  padding-left: 15px;
  border-left: 3px solid #434545;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 100%;
}

.li_flex {
  display: flex;
  flex-direction: column;
}

.about_container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
  color: #d3d3d3;
}

.about_container h1 {
  margin: 50px 0;
  font-size: 32px;
  font-weight: bold;
}

.about_container h3 {
  margin: 30px 0;
  font-size: 20px;
  font-weight: bold;
}

.about_container h4 {
  margin: 15px 0 15px 0;
}

.about_container h2 {
  margin-top: 30px;
}

.about_container p {
  line-height: 28px;
}

.highlighted_p {
  color: #b3d3a4;
}

.container_box {
  background: #2d2d2d;
  padding: 20px;
  border-radius: 10px;
}

.container_box p {
  margin-bottom: 10px;
}

.about_container ul li {
  list-style: disc;
}

.about_container ul li {
  margin: 0 0 10px 30px;
  line-height: 28px;
}

.about_container ol {
  margin: 30px 0;
  list-style: decimal;
}
.about_container ol li {
  margin: 0 0 10px 30px;
  line-height: 28px;
  font-weight: bold;
}

.sub_text {
  color: #8c8c8c;
  margin-top: 10px;
}

.about_container button {
  padding: 10px 20px;
  background: #313131;
  color: #bdbdbd;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contributors_container {
  position: relative;
  height: 500px;
  overflow: hidden;
  margin-top: 30px;
}

.black_overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100px;
  background: -webkit-linear-gradient(
    bottom,
    rgba(34, 34, 34, 0) 0,
    rgba(34, 34, 34, 0.88) 100%,
    rgba(34, 34, 34, 0.88) 100%
  );
  background: linear-gradient(
    to top,
    rgba(34, 34, 34, 0) 0,
    rgba(34, 34, 34, 0.94) 90%,
    rgba(34, 34, 34, 0.94) 100%
  );
}

.black_overlay2 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: -webkit-linear-gradient(
    top,
    rgba(34, 34, 34, 0) 0,
    rgba(34, 34, 34, 0.88) 100%,
    rgba(34, 34, 34, 0.88) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(34, 34, 34, 0) 0,
    rgba(34, 34, 34, 0.94) 90%,
    rgba(34, 34, 34, 0.94) 100%
  );
}

.contributor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 20px;
}

.marquee {
  top: 6em;
  position: relative;
  box-sizing: border-box;
  animation: marquee 35s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
  0% {
    top: 8em;
  }
  100% {
    top: -330em;
  }
}

.contrib_col {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contrib_col img {
  width: 40px;
}

.contrib_name {
  font-weight: bold;
  color: #fff;
}

.contrib_roles {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  align-self: flex-start;
  width: 400px;
}

.contrib_role {
  display: flex;
  align-items: center;
  gap: 2px;
}

.contrib_role img {
  width: 100%;
}

.contrib_role span {
  font-size: 10px;
}

@media screen and (max-width: 1200px) {
  .about_container h1 {
    margin-top: 120px;
  }
}

@media screen and (max-width: 680px) {
  .contrib_roles {
    width: auto;
  }
}

@media screen and (max-width: 620px) {
  .contrib_roles {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .contrib_roles {
    width: 130px;
  }
}

@media screen and (max-width: 440px) {
  .contributor {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
  }
}
